.rewards_li{
    width: 400px;
    @media screen and (max-width: 576px){
        width:300px
    }
    .rewards_image{
        width:30px;
        height:30px;
    }
    .rewards_address_box{
        border: 1px solid;
        height: 50px;
        border-radius: 15px;
        display: flex;
        align-items: center;

        .rewards_address{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .rewards_button{
        background-color: transparent !important;
        border: transparent !important;
        text-decoration: underline;
        text-decoration-thickness:1px;
    }
    .rewards_button:hover{
        color:green;
    }

    .rewards_page_button{
        height:50px;
        border-radius: 10px !important;
    }
}
