.modal{
    height:100%;
    .modal-dialog{
        height:100%;
        .modal-content{
            background: transparent;
            background-color: transparent;
            width:200px;
            height:200px;
        }
    }
}
