.publish_checkbox {
    visibility: hidden;
    cursor: pointer;
}
.publish_checkbox:before {
    visibility:visible;
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 0;
    border: 2px solid white;
    border-radius: 20px;
    background-color:transparent;
}
.publish_checkbox:checked:after {
    visibility:visible;
    content: "";
    // display: block;
    width: 5px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 21px;
    left: 10px;
}
.publish_NFT_loading{
        display: inline-block;
        width: 100px;
        height: 100px;
        border: 10px solid rgba(lightgreen, 0.6);
        border-radius: 50%;
        border-top-color: white;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
        z-index: 1;
}